<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\CatalogSearch\Controller\Result\Index" type="Tagalys\CatalogSearch\Controller\Result\Index" />
	<!-- <preference for="Magento\Catalog\Block\Product\ListProduct" type="Tagalys\CatalogSearch\Block\Product\ListProduct" /> -->
</config>