<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_tglssearch_result_index">
        <observer name="controller_action_predispatch_catalogsearch_result_handler" instance="Tagalys\CatalogSearch\Observer\TagalysObserver"/> 
	</event>
</config>
